.scrollspy {
  position: sticky;
  top: 90px;
}
ul {
  padding-inline-start: 16px;
}
li {
  list-style-type: none;
}
.outline-link {
  display: block;
  line-height: 32px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(60, 60, 67, .78);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .5s;
}
.nav {
  position: fixed;
  top: 32px
}
.slider {
  width: 1px;
  height: 18px;
  margin: 7px 0;
  position: absolute;
  background-color: #3451b2;
  left: 0;
  transition: top .5s;
}